body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body header {
  height: 3.5rem;
  background-color: rgb(21 71 148 / 80%);
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
body header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body header nav ul a {
  color: #fff;
  text-decoration: none;
  font-size: 14pt;
  font-weight: 700;
}
body header nav a:hover {
  color: #f9ec88;
}
body header nav .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav .nav-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
body header nav .nav-social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body header nav .nav-social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

body header nav .nav-social-media ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .fa { 
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discord-icon {
  width: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
